*{
    margin: 0px;
    padding: 0px;
}
.dropdown{
    background-color: #00ffff;
    border-top: 4px solid orange;
    width: 220px;
    padding: 20px;
    display: none;
    align-items: center;
    flex-direction: column;
 }
 .about{
    color: black;
 }
.bigdrop:hover .dropdown{
    display: block;
}
.drop{
    text-decoration: none;
}